nav {
    background-color: #87A36F;
    padding: 5px 10px;
}
.header {
    color: white;
    display: "flex gap-4 py-1 px-2";
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
  }

.navbar-buttons{
  text-align: left;
}